* {
  font-family: 'Montserrat', sans-serif;
  padding-inline-start: 0;
}

/* main page */
#body-container {
  background-color: #BFDBFF;
	width: 100%;
  display: flex;
  flex-direction: column;
}

#main-background{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* justify-content: space-around; */
}

#title {
  font-family: 'Homemade Apple', cursive;
  font-size: 60px;
  padding: 3em 0 0.7em;
}

#main-menu {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  width: inherit;
}

.mainMenuItem {
  list-style: none;
  /* padding: 0 1em 1em 0; */
}

.mainMenuItem a, .mainMenuItem p {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #39587F;
}


/* setup */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* visibility: hidden; */
}

.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 0.5em;
  border: 1px solid #888;
  width: 90%;
  height: 90%;
}

.modal-header {
  padding: 5px;
}

.close {
  padding: 5px;
}

.modalHeading {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0px;
}

#selectVillageSize,
#selectNumberPlayers {
  display: flex;
  flex-direction: column;
  margin: 0 0 3em 0;
}

.setupText {
  font-size: 16px;
  margin: 0 0 0.5em 0;
}

#rules-content {
  height: 600px !important;
}

.rulesBullet {
  margin: 0;
}

#yourGoal {
  padding: 0 0 10px;
}

.playerName {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 10px 0;
}

.modal-footer {
  height: 50px;
}

.custom-select {
  width: 200px;
  top: auto; bottom: 100%;
}

.userInput {
  padding: 4px 0 0 0;
}

.nameInput {
  width: 200px;
}

.playerAvatar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.playerAvatar .avatarImage {
  flex: 0  1  auto (default);
  height: 100%;
  width: 24%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* game environment */
#hamburger-menu {
  position: absolute;
  top: 1.2em;
  left: 1.5em;
}

.hamburgerIcon {
  width: 35px;
  height: 4px;
  background-color: #39587F;
  margin: 6px 0;
}


#animation-container {
  background-color: #BFDBFF;
	height: 100%;
	width: 100%;
  position: absolute;
}

#pondStatsParent {
  display: flex;
  width: 100%;
  justify-content: center;
}

#pondStats {
  width: 200px;
  margin: 1.2em 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

#dayTracker {

}

#all-players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  position: absolute;
  left: 1.5em;
  top: 17%;
}

.playerContainer {
  flex: 1;
}

/* .playerInfo {
  height: 150px;
  width: 100%;
  border: 2px solid black;
  position: absolute;
  top: 0px;
  left: 0px;
} */

#input-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 1.2em;
  width: 100%;
}

#player-input {
  box-sizing: border-box;
  /* position: absolute;
  bottom: 0px; */
  /* left: 30%; */
}

#player-turn-text, #turn-name-display {
  font-size: 0.8em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.btn {
  border: 2px solid #FFE34A;
  font-size: 0.8em;
  padding: 5px;
  font-weight: 600;
  color:  black;
}

#turn-name-display {
  border: 2px solid #FFE34A;
  color:  black;
  padding: 5px;
  font-weight: 600;
}

#player-turn-input {
  box-sizing: inherit;
  background-color: #99AFCC;
  border: 1.5px solid #39587F;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /* margin: 0 0 50px; */
}

#leaderboard {
  position: absolute;
  right: 1.5em;
  top: 17%;
  display: flex;
}

#leaderboard-text {
  padding: 0 50px;
  margin: 0 0 5px 0;
}

#leaderboard-players {
  border: 1.5px solid #39587F;
  padding: 2px 10px;
  /* background-color: #39587F; */
  background-color: #99AFCC;
  width: 200px;
}

#turn-arrows {
  padding: 2px 0 0 0;
  display: flex;
  flex-flow: column;
}

#arrow0,
#arrow1,
#arrow2,
#arrow3 {
  margin: 10.2px 15px;
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 
  border-top: 10.2px solid transparent;
  border-bottom: 10.2px solid transparent;
  border-left: 10.2px solid #737373;
}

.hidden {
  visibility: hidden;
}

.moneyBagIcon {
  height: 20pt;
  margin: 0 0 5px 8px;
}

.playerStats {
  height: 40px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.statsName {
  padding: 3px 0 0 0;
  font-size: 16px;
}

.playerWealthDisplay {
  font-size: 16px;
}

.deceased .statsName,
.deceased .statsWealth .playerWealthDisplay {
  color: darkred;
  text-decoration: line-through;
  font-style: italic;
}

.deceased .moneyBagIcon {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.avatarDisplay {
  height: 4.5em;
  margin: 0;
}

/* .nameDisplay {
  font-size: 16px;
} */

.modal-title {
  font-size: 22px;
  text-transform: uppercase;
}

#intro-background {
  background-color: #BFDBFF;
	height: 650px;
	background-position: center;
	background-size: cover;
	width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.background {
  background-color: #BFDBFF;
	height: 650px;
	background-position: center;
	background-size: cover;
	width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.centeredContent {
  width: 70%;
  max-width: 800px;
  /* position: absolute;
  top: 5%; */
  margin: 5% auto;
  display: flex;
  flex-direction: column;
}

#recap-container {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 0;
  bottom: 0;
}

#day-recap {
  padding: 20px;
  width: 300px;
  border: 1.5px solid #39587F;
}

.recapText {
  color: #99AFCC;
  padding: 0 10px 0 0;
}

.recapChange {
  color: black;
}

/* mobile screens */
@media screen and (max-width: 479px){
}

/* tablets */
@media screen and (min-width: 480px) and (max-width: 959px){
}

/* desktop */
@media screen and (min-width: 960px){ 

#main-menu {
  justify-content: center;
}

.mainMenuItem {
  padding: 0 2em 2em;
}

.modal-content {
  margin: 8% auto;
  padding: 20px;
  border: 1px solid rgb(136, 136, 136);
  width: 80%;
}

.modalHeading {
  /* font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0px;
  font-weight: 300; */
}

#selectVillageSize,
#selectNumberPlayers {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#pondStats {
  margin: 2em 0 0 0;
}

#leaderboard {
  top: 2em;
  right: 2em;
}

#hamburger-menu {
  top: 2em;
  left: 2em;
}

#all-players {
  left: 2em;
  top: 20%;
}

#player-turn-text, #turn-name-display {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

}