/* setup */
* {
  font-family: 'Montserrat', sans-serif;
}

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* visibility: hidden; */
}

.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 450px;
}

.modalHeading {
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0 0 15px 0;
}

.radio-inline {
  padding: 0 20px 20px 0;
}

.playerAvatar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.playerAvatar .avatarImage {
  flex: 0  1  auto (default);
  height: 100%;
  width: 24%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* game environment */
#animation-container {
	/* background-image: url("../img/background.jpg"); */
  background-color: #BFDBFF;
	height: 650px;
	background-position: center;
	background-size: cover;
	width: 100%;
  margin: 10px auto;
  position: relative;
}

#pondStatsParent {
  display: flex;
  width: 100%;
  justify-content: center;
}

#pondStats {
  /* background-color: white; */
  height: 100px;
  width: 200px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

#dayTracker {

}

#all-players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 450px;
  width: 200px;
  position: absolute;
  top: 65px;
  left: 65px;
  /* border: 2px solid black; */
}

.playerContainer {
  flex: 1;
}

/* .playerInfo {
  height: 150px;
  width: 100%;
  border: 2px solid black;
  position: absolute;
  top: 0px;
  left: 0px;
} */


#player-input {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 30%;
}

#player-turn-text, #turn-name-display {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#turn-name-display {
  color: #FFE34A;
}

#player-turn-input {
  box-sizing: inherit;
  background-color: #99AFCC;
  border: 1.5px solid #39587F;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#leaderboard {
  width: 200px;
  position: absolute;
  right: 50px;
  top: 65px;
}

#leaderboard-text {
  padding: 0 10px;
}

#leaderboard-players {
  border: 1.5px solid #39587F;
  padding: 2px 10px;
  /* background-color: #39587F; */
  background-color: #99AFCC;
  width: 100%;
}

.moneyBagIcon {
  height: 20pt;
  margin: 0 0 0 2px;
}

.playerStats {
  height: 40px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}


#player0 {
  /* position: absolute;
  top: 15%;
  left: 10%; */
}

#player1 {
  /* position: absolute;
  bottom: 15%;
  right: 10%; */
}

#player2 {
  /* position: absolute;
  top: 15%;
  right: 10%; */
}

.avatarDisplay {
  height: 95px;
  margin: 15px auto;
}

/* .nameDisplay {
  font-size: 16px;
} */

.river {
  position: fixed;
}