* {
  font-family: 'Montserrat', sans-serif;
}

/* main page */
#main-background {
  background-color: #BFDBFF;
	height: 650px;
	background-position: center;
	background-size: cover;
	width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

#main-title {
  /* position: absolute;
  top: 25%;
  left: 35%; */
  display: flex;
  justify-content: space-around;
}

#title {
  font-family: 'Homemade Apple', cursive;
  font-size: 60px;
}

.river {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#fish-container {
  width: 235px;
	height: 104px;
}

#menu-box {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#main-menu {
  display: flex;
  justify-content: center;
  width: 400px;
}

.mainMenuItem {
  list-style: none;
  padding: 30px;
}

.mainMenuItem a, .mainMenuItem p {
  font-size: 20px;
  text-transform: uppercase;
}


/* setup */
.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* visibility: hidden; */
}

.modal-content {
  background-color: #fefefe;
  margin: 8% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 450px;
}

.modalHeading {
  font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase;
  padding: 0 0 15px 0;
}

.custom-select {
  width: 200px;
  top: auto; bottom: 100%;
}

.playerAvatar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.playerAvatar .avatarImage {
  flex: 0  1  auto (default);
  height: 100%;
  width: 24%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* game environment */
#hamburger-menu {
  position: absolute;
  top: 35px;
  left: 65px;
}

.hamburgerIcon {
  width: 35px;
  height: 4px;
  background-color: #39587F;
  margin: 6px 0;
}


#animation-container {
  background-color: #BFDBFF;
	height: 650px;
	background-position: center;
	background-size: cover;
	width: 100%;
  /* margin: 10px auto; */
  position: relative;
}

#pondStatsParent {
  display: flex;
  width: 100%;
  justify-content: center;
}

#pondStats {
  /* background-color: white; */
  height: 100px;
  width: 200px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

#dayTracker {

}

#all-players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 450px;
  width: 200px;
  position: absolute;
  top: 80px;
  left: 65px;
  /* border: 2px solid black; */
}

.playerContainer {
  flex: 1;
}

/* .playerInfo {
  height: 150px;
  width: 100%;
  border: 2px solid black;
  position: absolute;
  top: 0px;
  left: 0px;
} */


#player-input {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 30%;
}

#player-turn-text, #turn-name-display {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#turn-name-display {
  border: 2px solid #FFE34A;
  color:  black;
  padding: 5px;
}

#player-turn-input {
  box-sizing: inherit;
  background-color: #99AFCC;
  border: 1.5px solid #39587F;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 50px;
}

#listPlayers {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 50px;
  top: 80px;
}

#leaderboard {
  width: 250px;
  display: flex;
}

#leaderboard-text {
  padding: 0 50px;
  margin: 0 0 5px 0;
}

#leaderboard-players {
  border: 1.5px solid #39587F;
  padding: 2px 10px;
  /* background-color: #39587F; */
  background-color: #99AFCC;
  width: 200px;
}

#turn-arrows {
  padding: 2px 0 0 0;
  display: flex;
  flex-flow: column;
}

#arrow0,
#arrow1,
#arrow2,
#arrow3 {
  margin: 10.2px 15px;
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 
  border-top: 10.2px solid transparent;
  border-bottom: 10.2px solid transparent;
  border-left: 10.2px solid #737373;
}

.hidden {
  visibility: hidden;
}

.moneyBagIcon {
  height: 20pt;
  margin: 0 0 5px 8px;
}

.playerStats {
  height: 40px;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.statsName {
  padding: 3px 0 0 0;
  font-size: 16px;
}

.playerWealthDisplay {
  font-size: 16px;
}

.deceased .statsName,
.deceased .statsWealth .playerWealthDisplay {
  color: darkred;
  text-decoration: line-through;
  font-style: italic;
}

.deceased .moneyBagIcon {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#player0 {
  /* position: absolute;
  top: 15%;
  left: 10%; */
}

#player1 {
  /* position: absolute;
  bottom: 15%;
  right: 10%; */
}

#player2 {
  /* position: absolute;
  top: 15%;
  right: 10%; */
}

.avatarDisplay {
  height: 95px;
  margin: 15px auto;
}

/* .nameDisplay {
  font-size: 16px;
} */

.modal-title {
  font-size: 22px;
  text-transform: uppercase;
}